<!-- Latest jQuery Library File -->
<script src="{{ 'js/jquery.js' | relative_url }}"></script>
<!-- Latest Bootstrap -->
<script src="{{ 'js/bootstrap.min.js' | relative_url }}"></script>
<!-- Fullpage js -->
<script src="{{ 'js/fullpage.min.js' | relative_url }}"></script>
<!-- Enable scrollbar when more content js -->
<script src="{{ 'js/scrolloverflow.js' | relative_url }}"></script>
<!-- slider js -->
<script src="{{ 'js/owl.carousel.min.js' | relative_url }}"></script>
<script src="{{ 'js/jquery.inview.min.js' | relative_url }}"></script>
<!-- Particles JS -->
<script src="{{ 'js/particles.min.js' | relative_url }}"></script>
<script src="{{ 'js/app.js' | relative_url }}"></script>
<!-- Main Script -->
<script src="{{ 'js/general-scripts.js' | relative_url }}"></script>